:root {
  font-size: 62.5%;  /* 1rem = 10px */
  
  --blue1: #19456B;
  --blue2: #11698E;
  --green1: #178c1b;
  --red1: #c71b1b;
  --white1: #FFFFFF;
  --white2: #F8F1F1;
}

body {
  font-family: 'Manrope', sans-serif;
  padding: 2rem;
}


/* Header */

header h1 {
  font-size: 4rem;
  color: var(--blue1);
  font-weight: 900;
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

#inputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.8rem;
  margin-bottom: 4rem;
}


/* Botões */

#inputContainerButtons {
  display: flex;
  gap: 2rem;
}

#addTask, #resetTask {
  background-color: var(--green1);
  border: 0rem;
  color: var(--white1);
  border-radius: 3rem;
  padding: 1rem;
  cursor: pointer
}

#resetTask {
  background-color: var(--red1);
}


/* Tasks */

#taskContainers {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  flex: 1;
}

.taskContainer {
  border: 1px solid var(--blue2);
  padding: 1rem;
  width: 15rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  min-width: 50px;
  flex-wrap:wrap;
  word-wrap: break-word;
}

.taskContainer p {
  font-size: 1.2rem;
  text-align:center;
  color: rgb(123, 113, 113);
  font-weight: 500;
  flex-wrap:wrap;
  word-wrap: break-word;
}