/* * {
  box-sizing: border-box;
} */

/*----- ROOT -----*/

:root {
  font-size: 62.5%;  /* 1rem = 10px */
  
  --red1: #BA181B;
  --red2: #E5383B;
  --black1: #0B090A;
  --black2: #161A1D;
  --white1: #FFFFFF;
  --white2: #F5F3F4;
}

body {
  font-family: 'Epilogue', sans-serif;
}

.container {
  max-width: 128rem;
  margin: 0 auto;
}

.btn {
  padding: 2rem 4rem;
  
  color: var(--white1);

  text-transform: uppercase;

  font-size: 1.6rem;

  display: flex;
  align-items: center;
  gap: 2rem;
}

.btn-sm {
  padding: 1.2rem 2.4rem;

  font-size: 1.4rem;
}

.btn-primary {
  background-color: var(--red1);
}

.btn-primary:hover {
  background: #941B1D;
}

.btn-outline {
  border: .2rem solid var(--white1);
  background-color: transparent;
}

/*----- HEADER -----*/

#header-container {
  background-color: var(--black1);
}

.header {
  color: var(--white1);

  padding: 2.4rem 7.2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*----- HERO -----*/

#hero-container {
  background-color: var(--black1);
  color: var(--white1);
}

.hero {
  display: flex;

  align-items: center;

  gap: 3.2rem;

  padding: 0 7.2rem;
}

.hero-text {
  display: flex;
  flex-direction: column;
  flex: 1;

  align-items: flex-start;

  gap: 1.6rem;

  padding: 9.6rem 0;
}

.hero-img {
  flex: 1;
  align-self: flex-end;
}

.hero-img img {
  max-width: 100%;
}

.hero-text__title {
  font-weight: 700;
  font-size: 56px;
  line-height: 64px;
}

.hero-text__subtitle {
  font-size: 20px;
  line-height: 28px;

  max-width: 52rem;
}

/*----- SERVICES -----*/

.services {
  padding: 9.6rem 7.2rem;
}

.overtitle {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.4rem;

  text-transform: uppercase;

  color: var(--red2);
}

.title {
  font-weight: 700;
  font-size: 4.4rem;
  line-height: 5.6rem;

  color: var(--black1);
}

.services-list {
  margin-top: 4.8rem;
  display: flex;
  gap: 3.2rem;
}

.service-card {
  background-color: var(--white2);

  border: 2px solid #D3D3D3;
}

.service-card img {
  width: 100%;
}

.service-card__text {
  padding: 3.2rem;

  display: flex;
  flex-direction: column;
  gap: .8rem;
}

.service-card__text h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;

  color: var(--black1);
}

.service-card__text p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: var(--black2);
}

/*----- LOCATION -----*/

#location-container {
  background: #F5F3F4;
}

#location-container .location {
  padding: 9.6rem 7.2rem 4.8rem;
}

#location-container address {
  display: flex;
  gap: 1.6rem;
  align-items: center;
}

/*----- FOOTER -----*/

footer {
  background: var(--black2);
  color: var(--white1);
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 4.8rem 7.2rem;
}

footer a {
  color: currentColor;
}

.footer-logocopy {
  display: flex;
  flex-direction: column;

  gap: 1.6rem;
}